
<div class="col-lg-offset-4 col-lg-4 login-form">
	<div class="panel panel-primary" style="height:180px">
		<div class="panel-heading login-title"><h4>Mot de passe oublié&nbsp;&nbsp;<span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;Forget password</h4></div>
			<%= form_tag(send_password_path, method: "post") do %>
			    <div class="form-group" style="height:30px">
			        <div class="col-lg-offset-1 col-lg-10">
			            <%= email_field_tag(:email, nil, class: 'form-control', placeholder: 'Please enter you user name.') %>
			        </div>
			    </div>
			    <div class="form-group">
			        <div class="col-lg-offset-1 col-lg-10">
			            <%= submit_tag("Submit", class: "btn btn-large btn-primary") %>
			        </div>
			    </div>
			<% end %>
		</div>
	</div>
</div>