<div class="modal fade" id="flag-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= form_tag(increment_flag_path(@narrative.id), method: "post") do %>
			<%= hidden_field_tag 'comment_id'%>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="modal-flag-title" class="modal-title">Send reason to administrator</h4>
				</div>
				<div id="modal-flag-body" class="modal-body">
					<%= text_area_tag(:flag, nil, placeholder: "Please write your reason why you want to flag this content.", class: "form-control", rows: 5) %>
				</div>
				<div class="modal-footer">
					<button id="flag-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<%= submit_tag("Send", class: "btn btn-primary", id: "flag-submit") %>
				</div>
			<% end %>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->