.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#sort-buttons{
	position:absolute;
	left:29%;
	top:30%;
}
#sunburst-info{
	text-align:center;
	position:relative;
	left:-15px;
}
#fr-flag{
	position:relative;
	top:10px;
}
.list-spacer{
	padding-left:6em
}
circle:hover{
	cursor: pointer;
}
path:hover{
	cursor: pointer;
}
svg.bubble{
	position:relative;
	top: -100px;
}