.header-section {
  text-align: center;
}
#sunburst-info{
	text-align:center;
	position:relative;
	left:-15px;
}
#fr-flag{
	position:relative;
	top:10px;
}
.list-spacer{
	padding-left:6em
}
circle:hover{
	cursor: pointer;
}
path:hover{
	cursor: pointer;
}

svg.bubble{
	position:relative;
	top: -5px;
}
#bubbles{
	position:relative;
	left:35px;
	height:530px;
	width:600px;
}
#sunburst-svg
{
	position:relative;
	left:10px;
}
.panel-footer .btn-group-justified {
	width: 66%;
	float: left;
}
.panel-footer .btn-group-justified > div{
	overflow:hidden; 
}
.panel-footer {
	padding: 10px 5px 10px 15px;
	overflow: hidden;
}
.panel-footer > div
{
	padding-top:5px;
	padding-bottom:5px;
	overflow:hidden; 
}
.label-filter
{
	float: left;
	width: 33%;
	margin-top:1em; 
}
