.header-section {
  text-align: center;
}
.container {
width:100%;
height:90%;
}

.col-lg-4 {
	text-align:center;
	position:absolute;
	left:1%;
	width:30%;
	height:100%;
}
.col-lg-8 {
	text-align:center;
	position:absolute;
	left:31%;
	width:69%;
	height:100%;
}
#filter-sort {
width:100%;
height:60%;
}
#legend {
width:100%;
height:18.5%;
}
#bubble-container {
width:100%;
height:80%;
}
#sunburst-info{
	text-align:center;
	position:relative;
	left:-15px;
}
#fr-flag{
	position:relative;
	top:10px;
}
.list-spacer{
	padding-left:6em
}
circle:hover{
	cursor: pointer;
}
path:hover{
	cursor: pointer;
}

svg.bubble{
	position:relative;
}
#bubbles{
	position:absolute;
	height:60%;
	width:90%;
}
#sunburst-svg
{
	position:relative;
	left:10px;
}
.panel-footer .button {
	width: 66%;
	padding-top:5px; 
	padding-bottom:5px; 
}
.panel-footer {
	padding: 10px 5px 10px 15px;
}
.label-filter
{
	width: 33%;
	margin-top:1em; 
	padding-top:5px; 
	padding-bottom:5px; 
}
.tooltip-inner {
    min-width: 125px;
}
.label-against {
background-color: #ff0000;
}
.label-for {
background-color: #428BCA;
}
.label-ambivalent {
background-color: #A0A0A0;
}