<h1><small>Bienvenue au portail <%= t :portal_topic, locale: :fr %></small></h1>
<div class="panel panel-default">
  <div class="panel-body">
    Nous vous suggerons fortement de regarder notre tutoriel expliquant comment utiliser le portail. S'il-vous plaît selectionner l'icône <span class="glyphicon glyphicon-info-sign"></span> ci-dessus pour regarder le tutoriel.
  </div>
</div>
<h1><small>&nbsp;Welcome to <%= t :portal_topic, locale: :en %> portal</small></h1>
<div class="panel panel-default">
  <div class="panel-body"> 
    We strongly suggest that you watch our tutorial video to learn how to use this web portal. Please click on the <span class="glyphicon glyphicon-info-sign"></span> icon above to watch the video!
  </div>        
</div>
<div>
  <button type="button" class="btn">Close</button>
</div>
