<div class="container">
    <h2>À Propos<span class="glyphicon glyphicon-flash"></span>About us</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#french-video" data-toggle="tab"><%= image_tag("FR-24.png", id:"gb-flag") %></a></li>
    <li><a href="#english-video" data-toggle="tab"><%= image_tag("EN-24.png", id:"gb-flag") %></a></li>
  </ul>
  <div class="tab-content">   
    <%= t :about_html, locale: :fr %>
    <%= t :about_html, locale: :en %>
  </div>
</div><!-- /.container -->
