<div class="container">
	
      <div class="blog-header">
        <h1 class="blog-title">VousD&eacute;lib&eacute;rez!</h1>
        <p class="lead blog-description">Share narratives and engage in deliberative democracy!</p>
      </div>

      <div class="row">

        <div class="col-sm-7 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Qu'est-ce que VousD&eacute;lib&eacute;rez?</h2>
				<p>YouDeliberate is a web portal that allows users to engage in the process of deliberate democracy on the subject of Bill 60.
				The web portal allows users to listen to other peoples views on this subject and post a comment on narratives to engage in a debate on the subject.</p>
				
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Plus Informations</h2>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-4 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Au Sujet de Bill 60</h4>
			<p>Bill 60 is a bill created by the Government of Quebec that is proposing a modification to the agreed resonable accommodiation in Quebec</p>
				<p><b> Accomodation can be: </b></p>
				<ul>
					<li>Religious</li>
					<li>Academic</li>
					<li>Employement Related</li>
				</ul>
            </div>
          <div class="sidebar-module">
            <h4>Bill 60 links</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.nosvaleurs.gouv.qc.ca/medias/pdf/Charter.pdf">Government of Quebec Bill 60</a></li>
              <li><a href="#">Useful Link 2</a></li>
              <li><a href="#">Questionable Editorials</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
	  <div class="blog-header">
        <h1 class="blog-title">YouDeliberate</h1>
        <p class="lead blog-description">Share narratives and engage in deliberative democracy!</p>
      </div>

      <div class="row">

        <div class="col-sm-7 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">What is YouDeliberate?</h2>
				<p>YouDeliberate is a web portal that allows users to engage in the process of deliberate democracy on the subject of Bill 60.
				The web portal allows users to listen to other peoples views on this subject and post a comment on narratives to engage in a debate on the subject.</p>
				
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">More Information</h2>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-4 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About Bill 60</h4>
			<p>Bill 60 is a bill created by the Government of Quebec that is proposing a modification to the agreed resonable accommodiation in Quebec</p>
				<p><b> Accomodation can be: </b></p>
				<ul>
					<li>Religious</li>
					<li>Academic</li>
					<li>Employement Related</li>
				</ul>
            </div>
          <div class="sidebar-module">
            <h4>Bill 60 links</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.nosvaleurs.gouv.qc.ca/medias/pdf/Charter.pdf">Government of Quebec Bill 60</a></li>
              <li><a href="#">Useful Link 2</a></li>
              <li><a href="#">Questionable Editorials</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->