<div class="container">
	<div class="row">
		<div class="col-sm-5">
			<h3>Nous Rejoindre <span class="glyphicon glyphicon-flash"></span> Contact us</h3>
			<hr>
			<address>
			<span class="glyphicon glyphicon-envelope"></span><a href="mailto:#"> teamB@youdeliberate.com</a><br><br>
			<span class="glyphicon glyphicon-earphone"></span> (555)123-4567
			</address>
		</div>
    
		<div class="col-sm-7 contact-form">
			<form id="contact" method="post" class="form" role="form">
			<div class="row">
				<div class="col-xs-6 col-md-6 form-group">
					<input class="form-control" id="name" name="name" placeholder="Nom / Name" type="text" required autofocus />
				</div>
				<div class="col-xs-6 col-md-6 form-group">
					<input class="form-control" id="email" name="email" placeholder="Courriel / Email" type="email" required />
				</div>
			</div>
			<textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
			<br />
			<div class="row">
				<div class="col-xs-12 col-md-12 form-group">
					<button class="btn btn-primary pull-right" type="submit">Submit</button>
					
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
