<div class="container">
	<div class="row">
		<div class="col-sm-5">
			<h3>Nous Rejoindre <span class="glyphicon glyphicon-flash"></span> Contact us</h3>
			<hr>
			<address>
			<span class="glyphicon glyphicon-envelope"></span><a href="mailto:#"> teamB@youdeliberate.com</a><br><br>
			<span class="glyphicon glyphicon-earphone"></span> (555)123-4567
			</address>
		</div>		
	</div>
</div>
