<div class="container">
	  <h2>Video tutoriel<span class="glyphicon glyphicon-flash"></span>Tutorial Video</h2>
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#french-video" data-toggle="tab"><%= image_tag("FR-24.png", id:"gb-flag") %></a></li>
	  <li><a href="#english-video" data-toggle="tab"><%= image_tag("EN-24.png", id:"gb-flag") %></a></li>
	</ul>
	<div class="tab-content">		
		<div class="tab-pane active" id="french-video">
		</br>
			<iframe width="560" height="315" src="//www.youtube.com/embed/l3soy1Ebvm0" frameborder="0" allowfullscreen></iframe>
		</div>	
		<div class="tab-pane" id="english-video">
		</br>
			<iframe width="560" height="315" src="//www.youtube.com/embed/l3soy1Ebvm0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	
</div>