// Place all the styles related to the Narratives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#narrative{
	padding:10px; 
}
.with-left-margin{
  margin-left: 10px;
}
.with-bottom-margin{
  margin-bottom: 10px;
}
.with-padding{
  padding: 8px;
}
.title{
  font-weight: bold;
  font-size: 14px;
}
.play-button,
.save-button,
.delete-button{
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #EEEEEE;
  color: #333333;
  padding: 1px 6px 3px 6px;
}
.play-button:hover,
.save-button:hover,
.delete-button:hover{
  background: #B4E1FF; /* For IE9 and older */
  background: -webkit-linear-gradient(#FFF, #B4E1FF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF, #B4E1FF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF, #B4E1FF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF, #B4E1FF); /* Standard syntax */
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
.delete-button:link,
.delete-button:visited,
.delete-button:active{
  color:#333333;
}
.tablesorter input[type=number],
.tablesorter input[type=text]{
  width: 70px;
}



/* tables */
table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}