<h1>ListFiles#list</h1>
<p>Find me in app/views/list_files/list.html.erb</p>


	

<% Dir["public/uploads/*.*"].each do |file| %>
  <li><%= link_to file, file[/\/.*/],:target=> '_blank' %></li>
<% end %>

